<html>
    <head>
        <title>My Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">My Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Apollo 13 was the seventh crewed mission in the Apollo space program and the third meant to land on the Moon. The craft was launched from Kennedy Space Center on April 11, 1970, but the lunar landing was aborted after an oxygen tank in the service module (SM) failed two days into the mission.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Thomas Kenneth Mattingly II (born March 17, 1936), (RADM, USN, Ret.) is a former American naval officer and aviator, aeronautical engineer, test pilot, Rear Admiral in the United States Navy and astronaut who flew on the Apollo 16, STS-4 and STS-51-C missions.</p>
        </div>
    </body>
</html>